h2 {
    font-size: 24px;
}

.red {
    color: red;
}

#alert {
    background-color: red;
    color: white;
}

h2.blue {
    color: blue;
}

h2#toc {
    font-weight: bold;
}

#very_strong {
    font-weight: bold !important;
}